In [1]:
import pandas as pd
import pickle

In [2]:
with open('df_sector.pickle','rb') as f:
    df_sector = pickle.load(f)

In [3]:
with open('sector.pickle','rb') as f:
    sector = pickle.load(f)

In [4]:
#등락률
for sector_name, df_dict in df_sector.items():
    for stockcode, df in df_dict.items():
        등락률 = []
        for i in range(len(df)):
            if i == len(df)-1:
                break
            else:    
                등락률.append((df['종가'][i]-df['종가'][i+1])/df['종가'][i+1]*100)
        등락률.append(0)
        df['등락률']=등락률

In [5]:
#거래변동량
for sector_name, df_dict in df_sector.items():
    for stockcode, df in df_dict.items():
        거래변동량 = []
        for i in range(len(df['거래량'])):
            if i == len(df['거래량'])-1:
                break
            else:    
                거래변동량.append(abs((df['거래량'][i]-df['거래량'][i+1])))
        거래변동량.append(0)
        df['거래변동량']=거래변동량

In [6]:
#종가정규화
from sklearn.preprocessing import MinMaxScaler
for sector_name, df_dict in df_sector.items():
    for stockcode, df in df_dict.items():
        scaler = MinMaxScaler()
        scaler.fit(pd.DataFrame(data = df['종가']))
        df_scaled = scaler.transform(pd.DataFrame(data = df['종가']))
        df['정규화_종가']=pd.DataFrame(data = df_scaled)

In [7]:
for sector_name, df_dict in df_sector.items():
    for stockcode, df in df_dict.items():
        df = df[['일자','등락률','거래변동량','정규화_종가']]
        df_sector[sector_name][stockcode] = df

In [11]:
df_pr_sector = df_sector

In [12]:
df_pr_sector['Manufacturer']['000270']

             일자       등락률    거래변동량    정규화_종가
0    2022-07-07  0.397878     7420  0.677500
1    2022-07-06 -3.826531   435385  0.673750
2    2022-07-05 -0.127389   196881  0.711250
3    2022-07-04  0.641026   201423  0.712500
4    2022-07-01  0.905563  1351654  0.706250
...         ...       ...      ...       ...
2995 2010-05-17 -0.626959   525745  0.127500
2996 2010-05-14  2.407705   362015  0.130000
2997 2010-05-13  2.805281   410820  0.120625
2998 2010-05-12  1.677852   529184  0.110000
2999 2010-05-11  0.000000        0  0.103750

[3000 rows x 4 columns]

In [13]:
df_pr_sector['Food']['271560']

             일자       등락률   거래변동량    정규화_종가
0    2022-07-07  2.380952   36373  0.364780
1    2022-07-06  0.000000   55658  0.333333
2    2022-07-05 -2.777778   70501  0.333333
3    2022-07-04  1.886792   28355  0.371069
4    2022-07-01  1.923077   32620  0.345912
...         ...       ...     ...       ...
1224 2017-07-13 -2.275449   20269  0.038994
1225 2017-07-12  0.845411  183896  0.062893
1226 2017-07-11 -5.909091  418148  0.054088
1227 2017-07-10  6.925881  779413  0.119497
1228 2017-07-07  0.000000       0  0.047799

[1229 rows x 4 columns]

In [14]:
import pickle
with open('df_pr_sector.pickle','wb') as f:
    pickle.dump(df_pr_sector,f)